/*--Body--*/
body{background-color: pink}
/*--Name--*/
#name{background-color: blue;width:auto;border-style: solid;}
/*--Primary header--*/
h1{text-align: center;}
/*--my Information--*/
#my_info{border-style: solid;background-color: Yellow;}
/*--image--*/
.image{position: absolute;top:110px;right: 15px;width: 300px;border:7px groove green}
/*--link--*/
.link{position: absolute;top:360px;right: 15px;width: 300px;
font-size: 20px;font-family: "Times New Roman";}
/*--Paragraph--*/
p{font-size: 18px;font-style: italic;}
